version: "3.8"

services:
  mysql-test:
    image: mysql:8.0
    container_name: bmfc_mysql_test
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: binh_minh_fc_test
    ports:
      - "3307:3306"
    tmpfs:
      - /var/lib/mysql
    networks:
      - test_network

networks:
  test_network:
    driver: bridge
